@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Russo+One&display=swap');

/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #4279a9, #FFFFFF);
}

.container{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    display: block;
    font-size: 23;
    padding: 15px
}

img {
    display: block;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px
}

p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#caption {
    padding-left: 10vw;
    padding-right: 10vw
}

#refresh {
    font-size: 13px
}

footer p{
    color: black;
    font-family: 'Luckiest Guy', cursive;
    font-size: 17px;
    text-align: center;
    margin-top: 15px
}